body{font-family:'Roboto',sans-serif}
.search{margin:0 auto;display:table}
.recovery-list-capsule{display:inline-block;margin:20px 0}
.recovery-list-capsule h1{font-size:25px;margin:20px 16px}
#recovery-list .list-item{width:200PX;float:left;margin:0 15px;position:relative}
#recovery-list .item-poster{overflow:hidden;max-height:283px;display:inline-block;margin-bottom:10px}
.item-poster img{width:100%}
.red{color:#F44336}
.yellow{color:#FFC107}
.green{color:#8BC34A}
.item-score{float:right;font-weight:700}
.item-title{float:left;font-weight:700}
.remove-item{position:absolute;z-index:99;font-size:20px;font-weight:700;color:red;right:10px}
div#list{max-width:400px;margin:52px auto}